@import url("reset.css");
@import url("global.css");
@import url("components/navigator.css");
@import url("components/pills.css");
@import url("components/link-button.css");
@import url("components/gallery.css");

body {
    background-color: #000;
}

.s-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    width: 100%;
    height: 100%;
    padding-left: 130px;
    position: relative;
}

.s-wrapper video {
    width: 100%;
    position: fixed;
    opacity: 0.6;
}

.s-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
}

.s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img {
    width: 100%;
    max-width: 700px;
    margin: 3.25rem 0 1.875rem 0;
}

.s-wrapper .s-main-content__top .s-description {
    display: grid;
    gap: 1.25rem;
    max-width: 50%;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.s-wrapper .s-main-content__top .s-description p {
    line-height: 170%;
}

/* TOBEY MAGUIRE */
.s-spider-man-01-01 {
    background-image: url("../images/spiderman-tobey/movie-01/background.png");
    background-size: cover;
}

.s-spider-man-01-02 {
    background-image: url("../images/spiderman-tobey/movie-02/background.png");
    background-size: cover;
}

.s-spider-man-01-03 {
    background-image: url("../images/spiderman-tobey/movie-03/background.png");
    background-size: cover;
}

/* ANDREW GARFIELD */
.s-spider-man-02-01 {
    background-image: url("../images/spiderman-andrew/movie-01/background.png");
    background-size: cover;
}

.s-spider-man-02-02 {
    background-image: url("../images/spiderman-andrew/movie-02/background.png");
    background-size: cover;
}

/* TOM HOLLAND */
.s-spider-man-03-01 {
    background-image: url("../images/spiderman-tom/movie-01/background.png");
    background-size: cover;
}

.s-spider-man-03-02 {
    background-image: url("../images/spiderman-tom/movie-02/background.png");
    background-size: cover;
}

.s-spider-man-03-03 {
    background-image: url("../images/spiderman-tom/movie-03/background.png");
    background-size: cover;
}
